body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    align-items: center;
}


/* First we fix the hero container consisting of the header and the hero section */
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    width: 100%;
}

.header,
.hero {
    /* We set the width of the header and hero section to 71% to make sure they match up */
    width: 71%; 
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 4px 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    padding: 100px 0;
    height: 230px;
}


.hero-text {
    width: 450px;
}


.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 32px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #3882f6;
    font-size: 18px;
    cursor: pointer;
}

.hero-image {
    width: 500px;
    height: 250px;
    display: flex;
    align-self: stretch;
    background-color: #6d747d;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 18px;
}

/* Next we fix the container which includes the illustrations */
.illustrations-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 40px;
    text-align: center;
}

.illustrations-pictures{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 0;
    padding: 16px;
}

.caption {
    margin-top: 8px;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 2px solid #3882f6;
}
